<!-- Portfolio Grid -->
<section class="bg-light page-section" id="basic_analysis">
  <div class="container">


    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-12">

      </div>

      <div class="col-md-12">
         <div>{% include BA_wordclouds.html %}</div>
        </div>
      </div>

      <div class="col-md-12">
      
      </div>

      <div class="col-md-6">
      </div>
      <div class="col-md-6">
       
      </div>
      <div class="col-md-6">
        <div>{% include RB_wordclouds.html %}</div>
      </div>


    </div>

   
</section>
